<div class="container mt-5 d-flex align-items-center justify-content-between">
	<h1>Products</h1>
	<div class="d-flex justify-content-space-evenly gap-3">
		<a href="/products/" class="btn btn-primary">Volver Productos</a>
		<a href="/productsCart/" class="btn btn-primary">Ver Carrito</a>
	</div>
</div>